<footer>
    <div class="container">
        <p>&copy; 2024 Rythmes ancestrales de Badogo Toumani. Tous droits reservés.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/p/Badogo-Toumani-Officiel-100084851860463/?_rdr" target="_blank" rel="noopener noreferrer">Facebook</a>
            <a href="https://www.tiktok.com/@toumanicoulibaly73?lang=fr" target="_blank" rel="noopener noreferrer">TikTok</a>
            <a href="#" target="_blank" rel="noopener noreferrer">Instagram</a>
        </div>
    </div>
</footer>